<%- include('partials/_header'); %> 
    <section>
        <div class="container bg-primary-gradient py-5">
            <div class="row row-cols-1 justify-content-center align-items-center">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h1 class="display-2 fw-bold">Toprak Nemi Değerleri</h1>
                </div>
                <div class="col" style="width: 790.6px;text-align: center;font-family: Poppins, sans-serif;">
                    <div class="table-responsive">
                        <table class="table table-striped table-dark">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Toprak Nemi Değeri</th>
                                <th scope="col">Kayıt Zamanı</th>
                              </tr>
                            </thead>
                            <tbody>
                                <% for(let i = 0; i < soilVal.length; i++) { %>
                              <tr>
                                <th scope="row"><%= i %></th>
                                <td>%<%= soilVal[i].soilRatio %></td>
                                <td><%= soilVal[i].timeStamp %></td>
                              </tr>

                              <% } %>
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="bg-primary-gradient">
        <div class="container py-4 py-lg-5">
            <hr>
            <div class="text-muted d-flex justify-content-between align-items-center pt-3">
                <p class="mb-0">2022 © ozkurkculer.com</p>
            </div>
        </div>
    </footer>
    <script src="public/js/jquery.min.js"></script>
    <script src="public/bootstrap/js/bootstrap.min.js"></script>
    <script src="public/js/bold-and-bright.js"></script>
</body>

</html>